.homePage {
  text-align: center;
}
/** signature animation */

/**index page styling */
#welcome {
  display: block;
  text-align: center;
  margin: auto;
}

#intro {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#signature {
  width: 80%;
}

path {
  fill: none;
  stroke: #fcf;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.sig{
  stroke-dasharray: 2120;
  animation: write 4s infinite linear;
}

@keyframes write {
  0% {
    stroke-dashoffset:2120;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
