#process {
  width: 60%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}

.step {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: auto;
}

.icon {
  flex: 1
}

.icon img {
  max-width: 70px;
  width: 95%;
  margin: 3%;
  margin-top: 11%;
}

.desc {
  flex: 3;
  margin: 10px;
  padding-left: 20px;
}
